body{font-family: 'Raleway', sans-serif;}
#Booki_Logo{
    position: absolute;
    width: 61px;
    height: 29px;
    left: 55px;
    top: 44px;
    
    }
#menu{
    position: absolute;
    width: 381px;
    height: 19px;
    left: 982px;
    top: 48px;
    display: flex;
    justify-content:space-around;
    
    }
.hebact:hover{
    text-decoration: underline;
    color: #0065FC ;
}
.hebact{
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
h1{position: absolute;}